* {
    display:block;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: Arial, sans-serif;
}

header{
    background-color: white;
    color: black;
    font-weight: bolder;
    padding: 20px;
    text-align: center;
}

h1{
    margin:0;
    font-size: 30px;
    text-align: center;
}

h2{
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    border: 20px;
    text-align: center;
}

main{
    padding: 20px;
}

.hidden{
    display:none;
}

#question{
    margin-top:0;
    margin-bottom: 20px;
}

#options{
    list-style-type: none;
    padding:0;
    margin:0;
}

.option{
    display:block;
    width: 100%;
    padding:10px;
    margin-bottom: 10px;
    background-color: purple;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
}

footer{
    background-color: white;
    padding: 20px;
}

footer p{
    margin:0;
    font-size: 14px;
}

#start-button {
    color: white;
    background-color: purple;
    text-align: center;
    position: static;
}

#result-text{
    margin-top:0;
    margin-bottom: 20px;
}
#score-form {
    margin-top:20px;

}
#score-form label{
    display: block;
    margin-bottom: 5px;
}

#score-form input[type="text"] {
    width:  100%;
    padding: 10px;
    margin-bottom: 10px;
}
#score-form button[type="submit"]{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}

#timer{
    font-weight:bold;
}